{{ form.renderTag }}
    {% if form.hasErrors %}
        <div class="mb-4 ff-form-errors text-error">
            <p class="text-error">{{ "There was an error submitting this form"|t }}</p>
        </div>
    {% endif %}
    <div class="form__fields">
        {% for row in form %}
            {% set full = row|length == 1 ? true : false %}
            {% for field in row %}
                {% if field.type == "submit" %}
                    <div class="form__actions">
                        {{ field.render({
                            class: "btn btn--solid btn--yellow",
                        }) }}
                    </div>
                {% else %}
                    {% if full %}
                        <div class="field field--full field--{{ field.type }}">
                            {% if field.label != "reCAPTCHA" %}
                                <label class="form-label" for="{{ field.handle ~ "-handle" }}">{{field.label}}{% if field.required %}*{% endif %}</label>
                            {% endif %}
                            {{ field.renderInput({
                                id: field.handle ~ "-handle",
                                class: "form-input mt-1 block w-full" ~ (field.hasErrors() ? ' error' : '')
                            }) }}
                        </div>
                    {% else %}
                        <div class="field field--{{ field.type }}" for="{{ field.handle ~ "-handle" }}">
                            {% if field.label != "reCAPTCHA" %}
                                <label class="form-label" for="{{ field.handle ~ "-handle" }}">{{field.label}}{% if field.required %}*{% endif %}</label>
                            {% endif %}
                            {{ field.renderInput({
                                id: field.handle ~ "-handle",
                                class: "form-input mt-1 block w-full" ~ (field.hasErrors() ? ' error' : '')
                            }) }}
                        </div>
                    {% endif %}

                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{{ form.renderClosingTag }}