{% set mainNavigation =
craft.navigation.nodes().handle('mainNavigation').level(1).all() %} {% set
subNavImage = { mode: 'crop', width: 400, height: 300, quality: 75, position:
'center-center' } %}

<header
  class="header js-header {% if isHome %} header--dark header--home{% endif %}"
>
  <div class="container-fluid">
    <h3 class="header__logo">
      <a href="{{ alias('@siteUrl') }}" title="{{ siteName }}">
        {% include "_svg/logo" %}
      </a>
    </h3>
    <div class="header__mobile-actions">
      <ul>
        <li>
          <a href="#" class="js-hamburger"> Menu </a>
        </li>
      </ul>
    </div>
    <nav class="header__nav nav">
      <ul>
        {% for item in mainNavigation %} {% if item.hasDescendants %}
        <li class="nav__li nav__li--subnav js-nav-branch">
          <a
            href="{{ item.url }}"
            target="{{ item.target }}"
            class="nav__anchor nav__anchor--level-1 {% if item.active %}active{% endif %}"
          >
            {{ item.title }}
          </a>
        </li>
        {% else %}
        <li class="nav__li">
          <a
            href="{{ item.url }}"
            target="{{ item.target }}"
            class="nav__anchor nav__anchor--level-1 {% if item.active %}active{% endif %}"
          >
            {{ item.title }}
          </a>
        </li>
        {% endif %} {% endfor %}
      </ul>

      <div class="nav__social flex md:hidden">
        {% if contacts.facebook %}
        <div class="nav__social-item">
          <a href="{{ contacts.facebook }}" target="_blank">
            {% include "_svg/facebook" %}
          </a>
        </div>
        {% endif %} {% if contacts.linkedin %}
        <div class="nav__social-item">
          <a href="{{ contacts.linkedin }}" target="_blank">
            {% include "_svg/linkedin" %}
          </a>
        </div>
        {% endif %} {% if contacts.instagram %}
        <div class="nav__social-item">
          <a href="{{ contacts.instagram }}" target="_blank">
            {% include "_svg/instagram" %}
          </a>
        </div>
        {% endif %}
      </div>
    </nav>
  </div>
</header>
