{% set mainNavigation = craft.navigation.nodes().handle('mainNavigation').level(1).all() %}
{% set subNavImage = {
    mode: 'crop',
    width: 400,
    height: 300,
    quality: 75,
    position: 'center-center'
} %}

<header class="header js-header {% if isHome %} header--dark header--home{% endif %}">
    <div class="container-fluid">
        <h3 class="header__logo">
            <a href="{{alias('@siteUrl')}}" title="{{ siteName }}">
                {% include "_svg/logo" %}
            </a>
        </h3>
        <div class="header__mobile-actions">
            <ul>
                <li>
                    <a href="tel:{{ contacts.phone }}">
                        {% include "_svg/phone" %}
                    </a>
                </li>
                <li>
                    <a href="#" class="js-hamburger">
                        <span class="open">
                            {% include "_svg/hamburger" %}
                        </span>
                        <span class="close">
                            {% include "_svg/close-nav" %}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <nav class="header__nav nav" style="padding-top: 0">
            <ul>
                {% for item in mainNavigation %}
                    {% if item.hasDescendants %}
                        <li class="nav__li nav__li--subnav js-nav-branch">
                            <a href="{{ item.url }}" target="{{ item.target }}"
                               class="nav__anchor nav__anchor--level-1 {% if item.active %}active{% endif %}">
                                {{ item.title }}
                            </a>
                            <div class="nav__subnav-arrow js-subnav">
                                {% include "_svg/navArrowRight" %}
                            </div>
                            <div class="nav__subnav {% if loop.index == 1 %}active{% endif %} hidden js-subnavchild w-full" style="padding-top:0">
                                <div class="nav__subnav--inner">
                                    <div class="nav__subnav__back js-subnav-back">
                                        {% include "_svg/navArrowLeft" %}
                                    </div>
                                    <ul class="nav__subnav-list lg:hidden" style="overflow: scroll; height: 100vh;margin-bottom:2rem">
                                        {% for child in item.children.orderBy('title').all() %}
                                            <li class="nav__li {% if child.active %}active{% endif %}">
                                                <a href="{{ child.url }}" target="{{ child.target }}"
                                                   class="nav__anchor {% if child.active %}active{% endif %}">
                                                    {{ child.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="nav__subnav-list hidden lg:flex" style="margin-bottom:0">
                                        {% for child in item.children.all() %}
                                            <li class="nav__li {% if child.active %}active{% endif %}">
                                                <a href="{{ child.url }}" target="{{ child.target }}"
                                                   class="nav__anchor {% if child.active %}active{% endif %}">
                                                    {{ child.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% if item.primaryImage.one() or item.sectionPlainText %}
                                        <div class="nav__subnav-blurb" style="margin-top: 1.75rem">
                                            {% if item.primaryImage.one() %}
                                                <div class="nav__subnav-img-holder">
                                                    <div class="nav__subnav-image"
                                                        style="background-image: url({{ item.primaryImage.one().getUrl(subNavImage) }});"
                                                    ></div>
                                                </div>
                                            {% endif %}
                                            {% if item.sectionPlainText %}
                                                <div class="nav__subnav-text">
                                                    <p>
                                                        {{ item.sectionPlainText }}
                                                    </p>
                                                    {% if item.sectioncta.getUrl() %}
                                                        <div class="nav__subnav-link">
                                                            <a href="{{ item.sectioncta.getUrl() }}">
                                                                {{ item.sectioncta.getCustomText }}
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav__li">
                            <a href="{{ item.url }}" target="{{ item.target }}"
                               class="nav__anchor nav__anchor--level-1 {% if item.active %}active{% endif %}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="nav__contact nav__li">
                    <a href="/contact-us" class="btn btn--solid btn--yellow">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>