{% if isHome %}
<div class="hero hero--home">
  <div class="container-fluid md:container">
    <h3>
      Tavendale + Partners isn’t just a leading law firm; we’re pioneering legal
      excellence. We work with individuals, families, and businesses across
      Aotearoa and beyond, expertly navigating challenges, uncovering
      opportunities, and delivering success. Our deep expertise and refreshingly
      personal approach set us apart. Promises are easy to make, but our ability
      to deliver is what distinguishes us. Our exceptional team combines
      knowledge and innovation, with a profound understanding of each of our
      clients. This trust and commitment to our craft make us the perfect
      partner.
    </h3>
  </div>
</div>
{% elseif entry.section == 'People' %}
<div class="hero hero--person">
  <div class="container">
    <div class="hero--person__title text-center">
      <div class="flex justify-center flex-col md:flex-row gap-2 mb-2 md:mb-0">
        <h1>
          {{ entry.title }}
        </h1>
        {% if entry.qualifications %}
        {{ entry.qualifications | replace({'\n': ', '}) }}
        {% endif %}
      </div>
      <h6>{{ entry.position }}</h6>
    </div>
  </div>
</div>
{% elseif entry.section == 'News Page' %}
<div class="hero hero--article">
  <div class="container">
    <div class="hero__content">
      <h1>
        {% if entry.heroTitle %}
        {{ entry.heroTitle }}
        {% else %}
        {{ entry.title }}
        {% endif %}
      </h1>

      <div class="news-page__item__categories font-headings">
        <ul>
          {% for category in entry.newsCategories.all() %}
          <li>
            {{ category.title }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container hidden md:block">
    <button class="btn btn--solid btn--white">News + Insights</button>
  </div>
</div>
{% elseif entry.heroImage and entry.heroImage.one() %}
<div class="hero hero--image">
  <div class="container">
    <div class="hero__content">
      <h1>
        {% if entry.heroTitle %}
        {{ entry.heroTitle }}
        {% else %}
        {{ entry.title }}
        {% endif %}
      </h1>
    </div>
    <div
      class="hero__image"
      style="background-image: url('{{ entry.heroImage.one().getUrl() }}')"
    ></div>
  </div>
</div>
{% elseif entry %}
<div class="hero hero--generic">
  <div class="container">
    <div class="hero__content">
      <h1>
        {% if entry.heroTitle %}
        {{ entry.heroTitle }}
        {% else %}
        {{ entry.title }}
        {% endif %}
      </h1>
    </div>
  </div>
</div>
{% endif %}
