{% extends "_layouts/layout.twig" %} {% set ourPeoplePage =
craft.entries.section('ourPeople').one() %} {% set team = entry.team.one() %} {%
set otherMembers = null %} {% if team %} {% set otherMembers = craft.entries({
section : 'people', relatedTo: team }).id('and, not ' ~ entry.id) %} {% endif %}
{% set otherPrimaryImage = { mode: 'crop', width: 300, height: 300, quality: 75,
position: 'center-center' } %} {% set personImg = { mode: 'crop', width: 700,
height: 700, quality: 85, position: 'center-center' } %} {% block template %}

<div class="person-page">
  <div class="container grid grid-cols-12">
    <div class="col-span-4">
      <div class="relative person-page__image-container">
        {% if entry.primaryImage.one() %}
        <div
          class="person-page__image"
          style="background-image: url('{{
            entry.primaryImage.one().getUrl(personImg)
          }}')"
        ></div>

        {% if entry.linkedin %}
        <a
          href="{{ entry.linkedin }}"
          target="_blank"
          class="btn btn--solid btn--white absolute"
        >
          Connect on LinkedIn
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="col-span-6 col-start-7">
      <div class="grid grid-cols-2 mb-16 person-page__contact">
        <div>
          <small class="block mb-7 font-headings">Contact</small>
          <span class="block font-headings">{{ entry.title }}</span>
          <ul>
            {% if entry.phone %}
            <li>
              T:
              <a class="ml-5" href="tel:{{ entry.phone }}">{{ entry.phone }}</a>
            </li>
            {% endif %} {% if entry.email %}
            <li>
              E:
              <a class="ml-5" href="mailto:{{ entry.email }}">{{
                entry.email
              }}</a>
            </li>
            {% endif %}
          </ul>

          {% if entry.alternateContactName or entry.alternateContactPhone or
          entry.alternateContactPosition or entry.alternateContactEmail %}
          <div class="person-page__alternate mt-5">
            <ul>
              {% if entry.alternateContactName %}
              <li>
                <span class="block font-headings">{{
                  entry.alternateContactName
                }}</span>
              </li>
              {% endif %} {% if entry.alternateContactPosition %}
              <li>{{ entry.alternateContactPosition }}</li>
              {% endif %} {% if entry.alternateContactPhone %}
              <li>
                T:
                <a class="ml-5" href="tel:{{ entry.alternateContactPhone }}">{{
                  entry.alternateContactPhone
                }}</a>
              </li>
              {% endif %} {% if entry.alternateContactEmail %}
              <li>
                E:
                <a
                  class="ml-5"
                  href="mailto:{{ entry.alternateContactEmail }}"
                  target="_blank"
                >
                  {{ entry.alternateContactEmail }}
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        {% endif %}

        <div>
          {% if entry.expertiseSelection|length %}
          <div class="person-page__sidebar-box person-page__sidebar-box--last">
            <small class="block mb-7 font-headings">Teams</small>
            <p class="mb-0">Property, Personal Law, Agribusiness</p>
          </div>
          {% endif %} {% if entry.expertiseSelection|length %}
          <div
            class="person-page__sidebar-box person-page__sidebar-box--last mt-5"
          >
            <small class="block mb-7 font-headings">Expertise</small>
            <ul>
              {% for expertise in entry.expertiseSelection.all() %}
              <li>
                {{
                  expertise.expertise.one()
                    ? expertise.expertise.one().title
                    : ""
                }}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>

      {% if entry.sectionExcerpt %}
      <div class="person-page__excerpt font-headings text-body-lg">
        {{ entry.sectionExcerpt }}
      </div>
      {% endif %}
      <div class="person-page__text font-headings text-body-lg">
        {{ entry.sectionBody }}
      </div>

      {% if entry.sectionQuote %}
      <div class="person-page__quote font-headings text-body-lg">
        <p class="mb-0">{{ entry.sectionQuote }}</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% include "_partials/blocks" %} {% include "_partials/blocks" with {entry:
ourPeoplePage} %} {% endblock %}
