{% set primaryImage = { mode: 'crop', width: 1500, height: 1082, quality: 100,
position: 'center-center' } %}

<div
  class="image-content image-content--{{ block.positioning }} {{
    bottomSpacing
  }} neo-block {%if block.hastopborder%}has-top-border{%endif%}"
>
  <div class="container grid grid-cols-12">
    {% if block.sectionExcerpt %}
    <div
      class="image-content__excerpt mb-6 md:mb-0 col-span-12 md:col-span-6 pr-16 font-headings"
    >
      {{ block.sectionExcerpt }}
    </div>
    {% endif %}

    <div class="image-content__content col-span-12 md:col-span-6">
      <div class="image-content__body text-body-lg">
        {{ block.sectionBody }}
      </div>

      <div class="image-content__img-holder">
        {% if block.primaryImage.one() %}
        <div
          class="image-content__img"
          style="background-image: url('{{
            block.primaryImage.one().getUrl(primaryImage)
          }}')"
        ></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
