{% set defaultImage = {
    mode: 'crop',
    width: 360,
    height: 420,
    quality: 100,
    position: 'center-center'
} %}
{% set largeImage = {
    mode: 'crop',
    width: 415,
    height: 485,
    quality: 100,
    position: 'center-center'
} %}
<div class="pathways neo-block {{ bottomSpacing }}" data-pathways>
    <div class="container">
        <div class="pathways__title">
            <h2>{{ block.sectionTitle }} <span class="pathways__blurb">{{ block.children|length }}</span></h2>
        </div>
        <div class="pathways__slider-container">
            <div class="pathways__nav">
                <a href="#" data-pathways-next>
                    {% include "_svg/chervonRight" %}
                </a>
                <a href="#" data-pathways-prev>
                    {% include "_svg/chervonLeft" %}
                </a>
            </div>
            <div class="pathways__slider">
                <div class="pathways__slider__inner" data-pathwayslider>
                    {% for child in block.children.all() %}
                        {% if child.sectioncta.getUrl() %}
                            <a href="{{ child.sectioncta.getUrl() }}" class="pathways__slide">
                                <div class="pathways__slide-image">
                                    {% if child.primaryImage.one() %}
                                        {% if child.size == 'large' %}
                                            <img src="{{ child.primaryImage.one().getUrl(largeImage) }}" />
                                        {% else %}
                                            <img src="{{ child.primaryImage.one().getUrl(defaultImage) }}" />
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="pathways__slide-title">
                                    {{ child.sectionTitle }}
                                </div>
                            </a>
                        {% else %}
                            <div class="pathways__slide">
                                <div class="pathways__slide-image">
                                    {% if child.primaryImage.one() %}
                                        {% if child.size == 'large' %}
                                            <img src="{{ child.primaryImage.one().getUrl(largeImage) }}" />
                                        {% else %}
                                            <img src="{{ child.primaryImage.one().getUrl(defaultImage) }}" />
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="pathways__slide-title">
                                    {{ child.sectionTitle }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>