{% set defaultImage = { mode: 'crop', quality: 100, position: 'center-center' }
%}
<div class="pathways neo-block" data-pathways>
  <div class="container">
    <div class="pathways__title">
      <h4>{{ block.sectionTitle }}</h4>
    </div>
  </div>
  <div class="container pathways__slider-container flickity__container">
    <div class="pathways__slider">
      <div class="pathways__slider__inner" data-pathwayslider>
        {% for child in block.children.all() %} {% if child.sectioncta.getUrl()
        %} {% set imageUrl = null %} {% if child.primaryImage.one() %} {% if
        child.size == 'large' %} {% set imageUrl =
        child.primaryImage.one().getUrl(defaultImage) %} {% else %} {% set
        imageUrl = child.primaryImage.one().getUrl(defaultImage) %} {% endif %}
        {% endif %}

        <a href="{{ child.sectioncta.getUrl() }}" class="pathways__slide">
          <div
            class="pathways__slide-image"
            style="background-image: linear-gradient(to bottom, rgb(255 255 255 / 0%), rgba(0, 0, 0, 0.25)), url({{
              imageUrl
            }})"
          ></div>

          <div class="pathways__slide-title text-body-lg">
            {{ child.sectionTitle }}
          </div>
        </a>
        {% else %}
        <div class="pathways__slide">
          <div class="pathways__slide-image">
            {% if child.primaryImage.one() %} {% if child.size == 'large' %}
            <img src="{{ child.primaryImage.one().getUrl(defaultImage) }}" />
            {% else %}
            <img src="{{ child.primaryImage.one().getUrl(defaultImage) }}" />
            {% endif %} {% endif %}
          </div>
          <div class="pathways__slide-title text-body-lg">
            {{ child.sectionTitle }}
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>

  <div class="container mt-7">
    <a href="/our-expertise" class="btn btn--solid btn--white">Learn More</a>
  </div>
</div>
