{% set primaryImage = { mode: 'crop', width: 300, height: 300, quality: 100,
position: 'center-center' } %}

<div class="people neo-block" data-people>
  <div class="container">
    <div class="people__title">
      <h6>
        {{ block.sectionTitle }}
      </h6>
    </div>
    <div class="people__inner flickity__container">
      <div class="people__slider" data-people-slider>
        {% for person in block.people.all() %}
        <div class="flex flex-col min-h-full person__container">
          <div class="people__person">
            <a
              href="{{ person.getUrl() }}"
              class="people__img"
              {%
              if
              person.primaryImage.one()
              %}style="background-image: url('{{
                person.primaryImage.one().getUrl(primaryImage)
              }}')"
              {%
              endif
              %}
            ></a>
            <div class="people__details">
              <span class="block text-body-lg font-headings mb-4 md:mb-5">{{
                person.title
              }}</span>
              {% if person.phone or person.email %}
              <ul>
                <li>
                  {{ person.position }}
                </li>
                {% if person.phone %}
                <li>
                  T:
                  <a class="ml-3 md:ml-5" href="tel:{{ person.phone }}">{{
                    person.phone
                  }}</a>
                </li>
                {% endif %} {% if person.email %}
                <li>
                  E:
                  <a
                    class="email ml-3 md:ml-5"
                    target="_blank"
                    href="mail:{{ person.email }}"
                    >{{ person.email }}</a
                  >
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>
          <div class="people__action font-headings">
            <a href="{{ person.getUrl() }}"> View Profile </a>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
