{% set articles = craft.entries({ section: 'newsPage', limit: 12 }) %} {% set
articleImage = { mode: 'crop', width: 215, height: 215, quality: 100, position:
'center-center' } %} {% if block.newsCategories.count() %} {% set articles =
articles.relatedTo(block.newsCategories) %} {% endif %}

<div class="related-articles neo-block {{ bottomSpacing }}" data-insights>
  <div class="container">
    <div class="related-articles__title">
      <h6>
        {{ block.sectionTitle }}
      </h6>
    </div>
    <div class="related-articles__inner flickity__container">
      <div class="related-articles__slider" data-insights-slider>
        {% for article in articles.all() %}
        <div class="related-articles__item min-h-full">
          <div class="news-page__item">
            <div class="flex flex-col justify-between h-full flex-grow">
              <a href="{{ article.getUrl() }}" class="news-page__item__inner">
                <div
                  class="news-page__item__image"
                  {%
                  if
                  article.primaryImage.one()
                  %}style="background-image: url({{
                    article.primaryImage.one().getUrl(articleImage)
                  }})"
                  {%
                  endif
                  %}
                ></div>

                <div class="news-page__item__content">
                  {% if article.newsCategories|length %}
                  <div class="news-page__item__categories font-headings">
                    <ul>
                      {% for category in article.newsCategories.all() %}
                      <li>
                        {{ category.title }}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                  <span class="text-body-lg mb-4 md:mb-5 block font-headings">{{
                    article.title
                  }}</span>
                  {% if article.sectionPlainText %}
                  <p>{{ article.sectionPlainText }}</p>
                  {% endif %}
                </div>
              </a>
              <a href="{{ article.getUrl() }}" class="news-page__item__inner">
                <span class="news-page__read-more">Read More</span>
              </a>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
