<div class="tabs neo-block {{ bottomSpacing }}">
    <div class="container" data-tabs>
        <div class="tabs__nav">
            <ul>
                {% for child in block.children.all() %}
                    <li>
                        <a href="#{{ child.slug }}" data-tab-trigger="{{ child.id }}" class="h3{% if loop.index == 1 %} active{% endif %}">{{ child.sectionTitle }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tabs__container">
            {% for child in block.children.all() %}
                <div class="tabs__tab{% if loop.index == 1 %} active{% endif %}" data-tab="{{ child.id }}">
                    <div class="tabs__tab__inner">
                        <div class="tabs__tab__img-holder">
                            <div class="tabs__tab__img"
                                {% if child.primaryImage.one().getUrl() %}
                                    style="background-image: url('{{ child.primaryImage.one().getUrl() }}')"
                                {% endif %}
                            ></div>
                        </div>
                        <div class="tabs__tab__body">
                            {{ child.sectionBody }}
                            {% if child.sectioncta.getUrl() %}
                                <div class="tabs__tab__action">
                                    <a href="{{ child.sectioncta.getUrl() }}" class="btn btn--solid btn--yellow">
                                        {{ child.sectioncta.getCustomText() }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>