{% set primaryImage = { mode: 'crop', width: 400, height: 300, quality: 100,
position: 'center-center' } %}

<div class="three-cols neo-block {{ bottomSpacing }}">
  <div class="container grid grid-cols-12">
    <div class="three-cols__title col-span-12 md:col-span-4 mb-3 md:mb-0">
      <span class="text-body-lg">{{ block.sectionTitle }}</span>
    </div>
    <div class="three-cols__grid col-span-12 md:col-span-8">
      <div class="grid grid-cols-1 md:grid-cols-2">
        {% for child in block.children.all() %}
        <div class="three-cols__item">
          <p class="font-headings">{{ child.sectionTitle }}</p>
          <div
            class="flex justify-between items-end flex-wrap three-cols__item-content"
          >
            <p class="mb-0 pr-5">
              {{ child.sectionPlainText | nl2br }}
            </p>
            {% if child.sectioncta.getUrl() %}
            <a href="{{ child.sectioncta.getUrl() }}" class="btn btn--solid">
              {{ child.sectioncta.getCustomText() }}
            </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
