{% extends "_layouts/layout.twig" %}
{% set newsCategories = craft.categories.group('news') %}
{% set featuredNews = null %}
{% set type = craft.app.request.getQueryParam('type') %}
{% set newsList = craft.entries().section('newsPage').orderBy('dateUpdated desc') %}

{% if type == 'insights' %}
    {% set newsList = newsList.isInsightArticle(true) %}
{% else %}
    {% set newsList = newsList.isNewsArticle(true) %}
{% endif %}

{% if entry is not defined %}
    {% set entry = craft.entries({section: 'newInsights'}).one() %}
{% endif %}

{% set keywords = craft.app.request.getParam('search') %}

{% if category is not defined %}
    {% set featuredNews = newsList.one() %}
    {% set newsList = newsList.id('and, not ' ~ featuredNews.id) %}
{% else %}
    {% set newsList = newsList.relatedTo(category) %}
{% endif %}

{% if keywords %}
    {% set newsList = newsList.search(keywords) %}
{% endif %}

{% paginate newsList.limit(6) as pageInfo, pageEntries %}

{% block template %}

    <div class="news-page">
        {% if featuredNews and pageInfo.currentPage == 1 %}
        <div class="container--tight ">
            <div>
                <span class="text-xs font-headings">Latest Insight</span>
            </div>
            </div>

            <hr class="news-page__insight-split" />

            <div class="news-page__featured">
                <div class="container--tight grid grid-cols-1 md:grid-cols-2 gap-3">
                    <a href="{{ featuredNews.getUrl() }}" class="news-page__featured__img-holder relative">
                        <div class="news-page__featured__img"
                            {% if featuredNews.primaryImage.one() %}
                                style="background-image: url('{{ featuredNews.primaryImage.one().getUrl() }}');"
                            {% endif %}
                        ></div>

                        {% if featuredNews.newsCategories|length %}
                            <div class="news-page__item__categories font-headings">
                                <ul>
                                    {% for category in featuredNews.newsCategories.all() %}
                                        <li>
                                            {{ category.title }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        </a>
                    <a href="{{ featuredNews.getUrl() }}" class="news-page__featured__content">
                        <h6 class="mb-3 md:mb-6">{{ featuredNews.title }}</h6>
                        {% if featuredNews.sectionPlainText %}
                            <div class="news-page__item__summary text-body-lg">
                                <p>{{ featuredNews.sectionPlainText }}</p>
                            </div>
                        {% endif %}
                        <span class="btn btn--solid btn--white">
                            Read more
                        </span>
                    </a>
                </div>
            </div>

            <hr class="news-page__featured-split"/>
        {% endif %}

        <div class="news-page__switcher">
            <ul class="news-page__switcher-wrapper">
                <li >
                    <a href="/news?type=news" class="{% if type != 'insights' %}
                               active
                            {% endif %}">
                        News
                    </a>
                </li>
                <li>
                    <a href="/news?type=insights" class="{% if type == 'insights' %}
                    active
                 {% endif %}">
                        Insights
                    </a>
                </li>
            </ul>
        </div>

        <div class="container grid grid-cols-12">
            <div class="col-span-12 md:col-span-4 flex flex-col justify-between items-start">
                <form class="js-news-search-form" action="">
                    <div class="field md:w-2/3">
                        <div class="inner">
                            {% include "_svg/search" %}
                            <input type="text" id="searchInput" name="search" placeholder="Quick Search">
                        </div>
                    </div>

                    <div class="field field--select md:w-1/2">
                        <div class="inner">
                            <select class="category js-news-category" name="category">
                                <option value="{{ entry.getUrl() }}">Expertise</option>
                                {% for newsCategory in newsCategories.all() %}
                                    <option value="{{ newsCategory.url }}"
                                            {% if category is defined and newsCategory.slug == category.slug %} selected="selected"{% endif %}>
                                        {{ newsCategory.title }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-span-12 md:col-span-8">

                <div class="news-page__list grid grid-cols-2 gap-3">
                    {% for page in pageEntries %}
                        <div class="news-page__item ">
                            <div >

                            <a href="{{ page.getUrl }}" class="news-page__item__inner">
                                <div class="news-page__item__image"
                                    {% if page.primaryImage.one() %}
                                        style="background-image: url('{{ page.primaryImage.one().getUrl() }}');"
                                    {% endif %}
                                >
                            </div>

                            <div class="news-page__item__content">
                            {% if page.newsCategories|length %}
                                <div class="news-page__item__categories font-headings">
                                    <ul>
                                        {% for category in page.newsCategories.all() | slice(0,3) %}
                                            <li>
                                                {{ category.title }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
    
                                <span class="text-body-lg mb-3 md:mb-6 block font-headings">{{ page.title }}</span>
                                {% if page.sectionPlainText %}                                        
                                    <p>{{ page.sectionPlainText }}</p>
                                {% endif %}
                            </div>
                        </div>

                            <span class="news-page__read-more">Read More</span>

                            </a>
                            
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-center md:text-left col-span-12 md:col-span-1 md:col-start-7 mt-5 md:mt-20">
                <a href="{{ pageInfo.nextUrl }}" class="btn btn--solid btn--white inline-flex load-more-news">
                    Load More
                </a>
            </div>
        </div>
    </div>
    {% include "_partials/blocks" %}
{% endblock %}