{% if entry is not defined %}
    {% set entry = craft.entries().section('ourPeople').one() %}
{% endif %}
{% set teamCategories = craft.categories.group('teams') %}
{% set img = {
    mode: 'fill',
    width: 300,
    height: 300,
    quality: 75,
    position: 'center-center'
} %}

{% set people = craft.entries()
                .section('people')
                .orderBy('title') %}

{% set keywords = craft.app.request.getParam('search') %}
{% set team = craft.app.request.getParam('team') %}
{% set positions = craft.app.request.getParam("search") ?? null %}

{% if keywords %}
    {% set people = people.search(keywords) %}
{% endif %}


{% if team %}
    {% set selectedteam = craft.categories.group('teams').slug(team) %}
    {% set people = people.relatedTo(selectedteam) %}
{% endif %}


{% paginate people.limit(16) as pageInfo, pageEntries %}

{% set itemsShownStart = 1 %}
{% set itemsShownEnd = 16 %}

{% set totalItems = people|length %}
{% if pageInfo.currentPage == 1 %}
    {% if totalItems < itemsShownEnd %}
        {% set itemsShownEnd = totalItems %}
    {% endif %}
{% else %}
    {% set itemsShownStart = (16 * (pageInfo.currentPage - 1)) + 1 %}
    {% set itemsShownEnd = (16 * pageInfo.currentPage)  %}
    {% if totalItems < itemsShownEnd %}
        {% set itemsShownEnd = totalItems %}
    {% endif %}
{% endif %}

{% extends "_layouts/layout.twig" %}

{% block template %}

    <div class="our-people">
        <div class="our-people__search">
            <div class="container">
                <form class="js-people-search-form">
                    <div class="field">
                        <label>Team</label>
                        <div class="inner">
                            <select class="team js-people-dropdown" name="team">
                                <option value="">Select</option>
{#                                {% for teamItem in teamCategories.order('title ASC').all() %}#}
{#                                    <option value="{{ teamItem.slug }}"#}
{#                                            {% if teamItem.slug == team %} selected="selected"{% endif %}>#}
{#                                        {{ teamItem.title }}#}
{#                                    </option>#}
{#                                {% endfor %}#}

                                {% for teamItem in teamCategories.orderBy('title ASC').all() %}
                                    <option value="{{ teamItem.slug }}"
                                            {% if teamItem.slug == team %} selected="selected"{% endif %}>
                                        {{ teamItem.title }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Quick search</label>
                        <div class="inner">
                            {% include "_svg/search" %}
                            <input type="text" name="search" value="{{ keywords }}" placeholder="Search by name, position">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container" data-people-container="1">

            <div class="our-people__counter">
                {% if pageInfo.currentPage == 1 %}
                    <p>Showing {{ itemsShownEnd}} of {{ totalItems }} </p>
                {% else %}
                    <p>Showing {{ itemsShownStart }} - {{ itemsShownEnd }} of {{ totalItems }} </p>

                {% endif %}
            </div>

            <div class="our-people__list">
                {% for person in pageEntries %}
                    <div class="our-people__person">
                        <div class="our-people__inner">
                            <a href="{{ person.url }}" class="our-people__img"
                                {% if person.primaryImage.one() %}style="background-image: url('{{ person.primaryImage.one().getUrl(img) }}')"{% endif %}
                                >
                            </a>
                            <div class="our-people__desc">
                                <h3>{{ person.title }}</h3>
                                <h5>{{ person.position }}</h5>
                                {% if person.location|length %}
                                    <p class="our-people__location">
                                        {% include "_svg/locationPin" %}
                                        <span>
                                            {% for location in person.location.orderBy('title ASC').all() %}
                                                {{ location.title }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </span>
                                    </p>
                                {% endif %}
                                {% if person.phone or person.email %}
                                    <ul>
                                        {% if person.phone %}
                                            <li>
                                                T: <a href="tel:{{ person.phone }}">{{ person.phone }}</a>
                                            </li>
                                        {% endif %}
                                        {% if person.email %}
                                            <li>
                                                E: <a href="mailto:{{ person.email }}" target="_blank"  >{{ person.email }}</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                                <div class="our-people__action">
                                    <a href="{{ person.getUrl() }}" class="btn btn--solid btn--grey">
                                        {% include "_svg/person" %}
                                        View profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="our-people__pagination">
                {% include "_partials/pagination" %}
            </div>
        </div>
    </div>

    {% include "_partials/blocks" %}

{% endblock %}